<h3> Product List</h3>
<table class="table table-striped">
    <thead>
        <tr>     
            <th>Name</th>
            <th>Retail Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>
                <p class="font-weight-bold m-0">{{this.brand}}</p>
                <p><i>{{this.category}}</i></p>
                <p>{{this.name}}</p>
            </td>
            <td>{{this.retailPrice}}</td>
            <td>
                <form action="/catelog/delete/{{this.barcodeNumber}}" method="POST">
                    <button class="btn btn-danger" type="submit">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </button>
                </form>
              
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


