<h3> Category Item</h3>
<table id="products" class="table table-striped">
    <thead>
        <tr>
            <th> Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Retail Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>

            <td>{{this.name}}</td>
            <td>{{this.brand}}</td>
            <td>{{this.category}}</td>
            <td>{{this.retailPrice}}</td>
            <td>
                {{!-- <a href="/category/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a> --}}
                <a href="/category/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>